.wrapper {
  overflow: hidden;
  background-color: black;
}

.home_comp {
  display: flex;
  height: 100vh;
  .home_section {
    overflow-y: auto;
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .home_comp {
    flex-direction: column-reverse;
    .home_section {
      width: 100%;
      height: 90%;
    }
  }
}
